<div style="height:100vh">
    <div class="d-flex align-items-center flex-column justify-content-center h-100 text-white">
        <div class="card bg-dark">
            <div class="card-body">
                <h4 class="card-title" style="text-align: center;">Welcome to Solewave!</h4>
                <nav style="text-align: center;">
                    <a routerLink="adminSignIn"><button class="btn btn-info" style="margin-inline: 5px;">Admin Sign
                            In</button></a>
                    <a routerLink="userSignIn"><button class="btn btn-info" style="margin-inline: 5px;">User Sign
                            In</button></a>
                </nav>
            </div>
        </div>
    </div>