<div style="height:100vh">
    <div class="d-flex align-items-center flex-column justify-content-center h-100 text-white">
        <div class="card bg-dark">
            <div class="card-body">
                <h4 class="card-title" style="text-align: center;">Log In Page</h4>
                <form class="form-inline" [formGroup]="signInRef" (ngSubmit)="checkUser()">
                    <input class="form-control mb-2 mr-sm-2" type="text" id="emailId" formControlName="email"
                        placeholder="Email" /><br />
                    <input class="form-control mb-2 mr-sm-2" type="password" id="pass" formControlName="password"
                        placeholder="Password" /><br />
                    <div style="text-align: center;">
                        <button class="btn btn-info" style="margin-inline: 10px;" type="submit"
                            [disabled]="!signInRef.valid">Login</button>
                        <button class="btn btn-info" type="reset">Reset</button>
                        <br />
                        {{msg}}
                        <br>
                    </div>
                </form>
                <a routerLink="/register" class="btn btn-info">Sign Up</a>
            </div>
        </div>
    </div>